@model HomeCreateViewModel;
<div class="row">
    <form class="form" asp-action="create" asp-controller="home" method="post">
        <div class="form-group">
            <label class="form-label" asp-for="Model"></label>
            <input class="form-control" asp-for="Model">
            <span asp-validation-for="Model"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price "></label>
            <input class="form-control" asp-for="Price">
            <span asp-validation-for="Price"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate"></label>
            <input class="form-control" asp-for="CreatedDate">
            <span asp-validation-for="CreatedDate"></span>
        </div>
        <div class="form-group">
            <label asp-for="Color"></label>
            <select asp-for="Color" class="form-control" asp-items="Html.GetEnumSelectList<Colors>();">
                <option>Please select...</option>
            </select>
            <span asp-validation-for="Color"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
            <a href="/" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>