<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body class="bg-dark text-light">
    <div>
        @RenderBody()
    </div>
    @if (IsSectionDefined("Scripts"))
    {
        RenderSection("Scripts");
    }
</body>
</html>
