@model HomeIndexViewModel;

<div class="card-deck">
    @foreach (var staff in Model.Staffs)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@staff.FirstName @staff.LastName</h3>
            </div>

            <div class="card-content">
                <img asp-append-version="true" class="m-5" src="~/images/img3.jpg" alt="img">
            </div>

            <div class="card-footer text-center">
                <a href="/home/details/@staff.Id" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>

