@model HomeIndexViewModel;
@{
    ViewBag.Title = "Staff List";
}

<div class="card-deck">
    @foreach (var staff in Model.Staffs)
    {
        var photoFilePath = "~/images/" + (staff.PhotoFilePath ?? "user.jpg");

        <div class="card m-3">
            <div class="card-header">
                <h3>@staff.FirstName  @staff.LastName</h3>
            </div>

            <div class="card-content">
                <img width="200" height="200" asp-append-version="true" class="m-5" src="@photoFilePath" alt="img">
            </div>

            <div class="card-footer">
                <a href="/home/details/@staff.Id" class="btn btn-primary m-1 col-4">View</a>
                <a href="/home/edit/@staff.Id" class="btn btn-primary m-1 col-4">Edit</a>
                <a href="/home/delete/@staff.Id">
                    <button  type="submit" class="btn btn-danger" onclick="return confirm('Delete this record ?');">Delete</button>

                </a>
             
            </div>
        </div>
    }
    
</div>

