@model HomeIndexViewModel;

<div class="card-deck">
    @foreach (var staff in Model.Staffs)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@staff.FirstName @staff.LastName</h3>
            </div>

            <img class="card-img-center" src="~/images/img3.jpg" alt="img">

            <div class="card-footer text-center">
                <button asp-controller="Home" asp-action="Details" asp-route-Id="@staff.Id" class="btn btn-primary">View</button>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>

