@model HomeIndexViewModel;
<div class="card text-danger">
    <div class="card-header">
        <h4 class="card-title">
           salom
        </h4>
    </div>
    <div class="card-body">
        <h4>mening ismim user</h4>
    </div>
</div>